* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: rgb(25, 1, 1);
    background-image: radial-gradient(circle, rgba(33,1,1,1) 0%, rgba(0,0,0,1) 100%);
}

#warning {
    color: white;
    font-family: Cinzel;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}