html{
    background: #FF9494;
}

body{
    font-family: monospace;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.5);
}

.hidden-audio{
    display: none;
}

.scroll{
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.heading{
    font-size: 5em;
    text-align: center;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
}

.line {
    margin-bottom: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.line.show {
    opacity: 1;
    transform: translateY(0);
}

.text-column{
    font-size: 2em;
    width: 50%;
}

.image-column{
    width: 50%;
    text-align: right;
}

#image1{
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: 25px solid white;

}

#image2{
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: 25px solid white;

}