html{
    background: #FF9494;
}

body{
    font-family: monospace;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.5);
}

.scroll{
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.heading{
    font-size: 5em;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.scrolling-text{
    font-size: 2em;
    width: 50%;
}

.line {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.line.show {
    opacity: 1;
    transform: translateY(0);
}