@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMonoNL-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMonoNL-Bold.ttf) format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "JetBrains Mono";
  margin: 0;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

#title,
#description {
  margin: 0;
}

#title {
  outline: 1px solid red;
  font-weight: bold;
  display: inline-block;
}

#description {
  outline: 1px solid red;
  display: inline-block;
}