@font-face {
  font-family: 'JetBrains Mono';
  src: url("../public/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../public/fonts/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

html {
  background-color: #F2F0EF;
}

#dd {
  width: auto;
  height: auto;
  justify-content: center;
  display: flex;
  border: 1px solid red;
  margin-top: 20%;
  margin-right: 40%;
}

#intro {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 3em;
}