@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMonoNL-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMonoNL-Bold.ttf) format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono";
  margin: 0;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

mark, body::selection {
  background-color: rgba(0, 0, 128, 0.25);
}

#page-footer {
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}